{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}



{% block content %}

    <div class="main-content">
        <fieldset>
            <legend>Login</legend>
        <form  action="" method="post" id="post-form">
            {% csrf_token %}

            <div class="form-group">
                <input type="text"  id="username">
                <label for="username"> Enter Username</label>
            </div>

            <br>
            {% include 'pwd.html' %}

            <br>

            <div class="form-group">
                <button type="submit">Sign In</button>
            </div>
        </form>
        <div>
            <small>
                Forgot password? <a href="{% url 'reset' %}" class="ml-2">Click here</a>
            </small>
        </div>
        <div>
            <small>
                Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            </small>
        </div>
        </fieldset>
    </div>


<script>
    var gpwd_set = new Set();

    function onSelect(img_no) {
        var res = img_no.toString();
        if (gpwd_set.has(res)) {
            console.log('true');
            gpwd_set.delete(res);
            document.getElementById(res).style.border = '0px';

        } else {
            gpwd_set.add(res);
            document.getElementById(res).style.border = "2px solid red";
        }

        console.log(gpwd_set);
    }

    function post(path, params, method = 'post') {

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        const form = document.getElementById('post-form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }


    // Submit post on submit
    var form = document.getElementById('post-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        console.log("form submitted!");
        post('', {
            username: document.getElementById('username').value,
            password: Array.from(gpwd_set),
        })
    });
</script>
{% endblock %}